body{
  padding: 0;
  margin: 0;
  font-size: 7px;
}
a{
  text-decoration: none;
}
ul,li,p,h1,h2,form{
  margin:0;
  padding:0
}

input[type=checkbox] {
  -webkit-appearance:button;

  background: url(../img/checkbox.gif) left top no-repeat #d0a951;

  color:#000;
  white-space: nowrap;
  overflow:hidden;

  width:15px;
  height:15px;
}

input[type=checkbox]:checked {

  background: url(../img/checkbox.gif) -16px top no-repeat #d0a951;
}


#todo{
  overflow-x: hidden;
}
.topH{
  text-align: center;
  padding: 10px 0;
  position: relative;
  max-width: 1140px;
  margin: auto;
  display: table;
  width: 100%;
}
.topH .logo{
  display: table-cell;
  text-align: left;
  padding-left:15px;
  vertical-align: middle;
}
.topH .logo img{
  width: 250px;
}
.topH .botones{
  display: table-cell;
  text-align: right;
  vertical-align: middle;
}
.botones .logotemp{
  height: 66px;
  vertical-align: middle;
  margin-right: 20px;
}
.topH .botones a, .btnsIdiomas{
  display: inline-block;
  background: url(../img/fdo_am_01.jpg) right repeat-y #d0a951;
  border: solid 1px #f7cf79 !important;
  color:#FFF;
  font-size:2.3em;
  font-family: AspiraBlack,Verdana;
  padding: 8px 20px;
  /*border:1px;*/
  margin:0 5px;
  border-radius: 20px;
}
.topH .botones a img{
  vertical-align: middle;
}
.sepCont{
  height: 10em;
  background: #2d2d2d;
}
.sepCont .max{
  max-width: 1140px;
  margin: auto;
  display: table;
  width: 100%;
}
nav{
  text-align: center;
  padding: 3.5em 0 2em 0;
  background: #2d2d2d;
  position: relative;
  z-index: 2;
}

nav li {
    display: inline-block;
    list-style: none;
}

.slicknav_menu{
  background: none !important;
}
.slicknav_btn{
      width: 95%;
    margin: auto !important;
    display: inline-block !important;
    float: none !important;
    text-align: center;
}
.slicknav_icon{
  margin: auto !important;
  float: none !important;
  display: inline-block !important;
  padding-top: 2px;
}
.slicknav_menutxt{
  margin: auto !important;
  float: none !important;
  display: inline-block !important;
  margin-right: 10px !important;
}
nav a,.slicknav_menu{
  font-family: Aspira,Verdana;
  font-size: 16px;
  color:#FFF;
}
nav a{
  font-family: Aspira,Verdana;
  font-size: 18px;
  color:#FFF;
  display: inline-block;
  margin:0px 12px;
  text-decoration: none;
  -webkit-transition: .5s; /* For Safari 3.1 to 6.0 */
  transition: .5s;
  padding-bottom: 10px;
  border:2px solid #2d2d2d
}
nav a.act{
  border-bottom: 2px solid #FFF;
}
nav a:hover {
  color: #f2bf65;
  border-bottom: 2px solid #f2bf65;
}
.nav2{
    margin-top: -2px;
    /*height: 91px;*/
}
.banners{
  text-align: center;
  height: 75em;
  background-image:url(../img/exam01.jpg) ;
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: 1;
}
.busc{
  max-width: 280px;
  min-width: 50px;
  width: 80%;
  height: 30px;
  border: 2px solid #888888;
  border-radius: 22px;
  background-image: url(../img/lupa.jpg);
  background-repeat: no-repeat;
  background-position: 16px -3px;
  padding-left: 50px;
  font-family: Aspira,Verdana;
  font-size: 16px;
}
.busc:focus{
  outline: none;
}

.dvBusc,.dvRest{
  display: table-cell;
  vertical-align: top;
}
.dvBusc{
  width: 33%;
}
.dvBusc{
  padding-top: 2em;
  padding-left: 15px;
}
.dvRest{
  font-family: AspiraHeavy,Verdana;
  color:#d5af57;
  font-size:4em;
  text-align: right;
  vertical-align: middle;
  padding-top: 13px;
  padding-right: 10px;
}
.menu2{
  display: table;
  text-align: center;
  margin: auto;
  position: relative;
  z-index: 2;
  max-width: 840px;
  /*margin-top: -65px;*/
  width: 90%;
  box-shadow: 2px 9px 18px 4px rgba(0, 0, 0, 0.47);
  background: transparent;
  border-radius: 20px;
}
.menu2 div{
  display: table-cell;
  width: 33%;
  text-align: center;
  background:#FFF;
  padding: 18px 0 20px 0;
  border: 1px solid #ececec;
  cursor:pointer
}
.menu2 div svg{
  height: 55px;
}
.menu2 .cls-1{
  fill:#a7212f
}
.menu2 div span{
  display: block;
  font-family: AspiraBold,Verdana;
  font-size: 2.7em;
  color:#a7212f
}
.menu2 .act{
  background: #dfb964;
  border: 0px
}
.menu2 .act span{
  color:#2d2d2d
}
.menu2 .act .cls-1{
  fill:#2d2d2d
}
.menu2 .left{
  border-bottom-left-radius: 18px;
  border-top-left-radius: 18px;
}
.menu2 .right{
  border-bottom-right-radius: 18px;
  border-top-right-radius: 18px;
}
.content{
  min-height: 500px;
  /*margin-top: -121px;*/
}
footer{
  background-image:url(../img/new_footer.jpg);
  background-size:cover;
  height: 240px;
  text-align: center;
  display: table !important;
  width: 100%;
}
p{
  margin: 0;
  padding:0;
}
.brands{
  font-family: AwesomeBrands,Verdana !important;
  font-size: 30px !important;
}
footer .logo{
  width: 100%;
  text-align: center;
  padding-top: 50px;
}
footer .celda01{
  width: 30%;
  display: table-cell;
  vertical-align: middle;
  padding-left: 50px;
}
footer .celda01 img{
  width: 100%;
  max-width: 250px;
}
footer .celda02{
  width: 69%;
  display: table-cell;
  vertical-align: middle;
  text-align: right;
  padding-right: 5%;
}
.section10{
  background-image: url(../img/fdo_contact.jpg);
  background-position: center top;
  background-size: cover;
}
.section10 h1{
  display: inline-block;
  color:#FFF;
  font-size: 5.3em;
  font-family: AspiraBold,Verdana;
  background: url(../img/rayatit_am.jpg) bottom center no-repeat;
  padding-bottom: 20px;
  margin: 0;
}
.section10 header{
  text-align: center;
  padding-top: 40px;
}
.section10 .cell span{
  color:#707070;
  font-size:2.3em;
  font-family: AspiraMedium,Verdana;
  display: block;
  margin: 48px 0 25px 15%;
}
.section10 .cell input[type=text],.section10 .cell input[type=email],.section10 .cell textarea{
  margin-left: 15%;
  background: none;
  border:0px solid;
  border-bottom: 2px solid #393a44;
  font-size:1.8em;
  max-width: 421px;
  width: 80%;
  font-family: AspiraMedium,Verdana;
  transition: .5s;
  color:#FFF;
}
.section10 .cell textarea{
  height: 136px;
  border-bottom: 2px solid #ddb762;
  background: #0b0b13;
}

.section10 .cell input[type=text],.section10 .cell input[type=email]{
  outline: none;
}
.section10 .cell input[type=text]:focus,.section10 .cell input[type=email]:focus{
  border-bottom: 2px solid #ddb762;
}
.section10 .cell .tits{
  display: inline-block;
  font-family: Aspira,Verdana;
  color: #FFF;
  vertical-align: top;
  text-align: left;
}
.section10 .pre2{
  display: table;
  width: 100%;
}
.section10 .derr{
  margin-top: 55px;
}
.section10 .derr div{
  display: block;
  padding-top: 0px;
  padding-bottom: 20px;
}
.section10 .derr div span{
  font-family: AwesomeSolid,Verdana;
  font-size: 3.2em;
  color: #FFF;
  padding-right: 1em;
  display: inline;
  margin: auto;

}
.section10 ._subtit{
  font-size: 3.7em;
  font-family: AspiraBold,Verdana;
  margin-top: 50px;
}
.section10 .derr div p{
  display: inline-block;
  font-size: 2.5em;
}
.section10 .log{
  text-align:center;
  margin-top:70px
}
.section10 .log img{
  max-width: 258px;
  width: 100%;
}
.section01 a, .botLink {
  display: inline-block;
  background: url(../img/fdo_am_02.jpg) right repeat-y #876b29;
  color: #FFF !important;
  font-family: AwesomeBrands, Verdana;
  font-size: 2em;
  padding: 12px 25px;
  text-align: center;
  text-decoration: none !important;
  border-radius: 30px;
}

/* The Modal (background) */
.preLogin{
  display: none;
  width: 100%;
  position: absolute;
  top:0;
  padding-top: 100px;
  z-index: 80;
}
.login {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 50; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.login-content {
  background-color: #2d2d2d;
  margin: auto;
  border: 0px;
  width: 80%;
  max-width: 600px;
  border-radius: 20px;
  overflow: hidden;
  color: #ddb762;
  position: relative;
}
.login-content input[type=text],.login-content input[type=password],.login-content input[type=email],.login-content input[type=number],.login-content select {
  border: 2px solid #e3bd69;
  background: #FFF;
  border-radius: 17px;
  font-size: 2em;
  margin-bottom: 18px;
  margin-top: 6px;
  width: 90%;
  outline: none;
  padding: 3px 5%;
}
.login-control-content {
  border: 2px solid #e3bd69;
  background: #FFF;
  border-radius: 17px;
  margin-bottom: 18px;
  margin-top: 6px;
  width: 90%;
  outline: none;
  padding: 3px 5%;
  max-height: 200px;
  overflow-y: auto;
}
.login-control-content label {
  display: inline-block;
  font-family: AspiraMediumIt,Verdana;
  font-size: 1.5em;
  color: #000;
  text-align: left;
  width: 70%;

}
.login-control-content input[type=checkbox] {
  display: inline-block;
}

.login-content .hiddSub{
  display: none;
}
.log_tit{
  font-size: 5em;
  font-family: AspiraBlack, Verdana;
  text-align: center;
}
.log_descrip{
  font-size: 1.5em;
  font-family: AspiraLight, Verdana;
  text-align: center;
  margin-bottom: 20px;
}
.log_descrip2{
  font-size: 2.5em;
  font-family: AspiraLight, Verdana;
  text-align: center;
  margin-bottom: 10px;
}

.log_textImp{
  text-align: left;
  font-family: AspiraMediumIt,Verdana;
  font-size: 1.5em;
  margin-left: 2em;
}
.login_botones{
  text-align: center;
  padding: 50px 0;
}
.login_botones .botLink{
  margin-bottom: 25px;
  padding: 12px 50px;
  cursor:pointer
}
.login_botones2{
  text-align: center;
  padding: 10px;
}

.tb{
  display: table;
}
.tbCell{
  display: table-cell;
}
.padd_{
  padding-right: 20px;
}
/* The Close Button */
.close {
  color: #FFF;
  font-size: 28px;
  font-weight: bold;
  position: absolute;
  right: 18px;
  top: 15px;
  line-height: 16px;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.contentBorder {
  border: 1px solid #7b6e52;
  margin: 0 30px 40px;
  border-top: 0px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  padding: 25px;
}
.log_encabezado{
  background: #a7212f;
  text-align: center;
  padding: 35px 0;
}
.topH .botones a,.botLink{
  cursor:pointer
}
.topH .botones a:hover, .botLink:hover{
  color:#404040
}
.cell{
  display: table-cell;
  width: 49%;
  vertical-align:top
}
.btnsIdiomas a{
  padding: 0 !important;
  margin: 0 !important;
  border: 0px !important;
  display: inline !important;
  font-size: 1em !important;
  background: none !important;
}
.dvImpNews{
  display: table;
  background-image: url('../img/fdo_news_bot.png');
  background-size: cover;
  background-repeat: no-repeat;
  width: 44.1em;
  height: 4.6em;
  text-align: center;
  margin: auto;
}
.dvImpNews ._c{
  display: table-cell;
  vertical-align: middle;
}
.dvImpNews ._c a{
  font-family:AspiraBoldIt,Verdana;
  font-size:1.8em;
  color:#FFF !important;
  cursor: pointer;
}
.dvImpNews .imp{
  width: 69%;
}

.dvImpNews input{
  color: #c39b3e;
  font-family: AspiraLight, Verdana;
  font-size: 2.3em;
  border: 0px;
  outline: none;
}
footer .celda02 .pre{
  display: inline-block;
}
footer .tit_news{
  display: block;
  font-family: AspiraBoldIt,Verdana;
  color: #FFF !important;
  font-size: 2.5em;
  text-align: center;
  padding-bottom: 1em;
}
footer .copy{
  font-family: AspiraLight, Verdana;
  color: #FFF !important;
  font-size: 1.5em;
  text-align: center;
  padding-top: 1.5em;
}
.section10 .emailExito{
  color: #FFF;
  font-size: 3em;
  font-family: AspiraBold,Verdana;
  text-align: center;
  vertical-align: middle;
  /* padding-top: 190px; */
  background: #ffffff14;
  width: 80%;
  margin: auto;
  margin-top: 64px;
  padding: 133px 20px;
}
.btnact {
  background: url(../img/fdo_am_01.jpg) right repeat-y #d0a951 !important;
  border-color: #d0a951 !important;
}
#nombEscaparela {
  position: relative;
  top: -110px;
  left: 20px;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 120%;
}
#studioEscaparela {
  position: relative;
  top: -100px;
  left: 20px;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 90%;
}
.preLogin .nice-select,.bfh-selectbox{
  border: 2px solid #e3bd69;
  background: #FFF;
  border-radius: 17px;
  font-size: 2.5em;
  margin-bottom: 18px;
  margin-top: 6px;
  width: 100%;
  outline: none;
  padding: 0px 5%;
  font-family: Arial;
  height: 35px;
  line-height: 2em;
  color:#000
}
.preLogin .nice-select .list{
  width: 100%;
}
a.bfh-selectbox-toggle.form-control {
    width: 90%;
}
span.bfh-selectbox-option {
    height: auto !important;
    color: #000;
}
a.bfh-selectbox-toggle.form-control {
    padding: 0 !important;
}
.bfh-selectbox-options {
    width: 100%;
    top: 38px !important;
}
.bfh-selectbox:after{
      border-bottom: 2px solid #999;
    border-right: 2px solid #999;
    content: '';
    display: block;
    height: 5px;
    margin-top: -4px;
    pointer-events: none;
    position: absolute;
    right: 12px;
    top: 50%;
    -webkit-transform-origin: 66% 66%;
    -ms-transform-origin: 66% 66%;
    transform-origin: 66% 66%;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
    width: 5px;
}
.bfh-selectbox {
    width: 90%;
}
i.glyphicon {
    width: 16px;
    height: 16px;
    display: inline-block;
}
a.bfh-selectbox-toggle.form-control {
    height: 35px;
}
.ui-dialog .ui-dialog-title, #avisoTxt, .ui-dialog .ui-dialog-buttonpane button{
  font-size:12px
}
.ui-dialog .ui-dialog-buttonpane button{
  margin: .3em .2em .3em 0;
}
.ui-dialog .ui-dialog-titlebar{
  padding: 0.2em .5em;
}
.ui-dialog .ui-dialog-titlebar-close{
  display:none
}
.ui-widget.ui-widget-content {
  border: 0px solid #d3d3d3;
  background: #2d2d2d;
  color: #ddb762;
}
.ui-widget-content{
  color: #ddb762 !important;
  font-size: 1.5em !important;
  font-family: AspiraLight, Verdana
}
.ui-draggable .ui-dialog-titlebar{
  display: none !important;
}
#aviso{
  min-height: auto !important;
}
.btnAviso{
  font-size: 11px !important;
  padding: 7px 15px !important;
  margin-top: 7px !important;
}
#comprar2, #comprar3 { display: none; }
#cantidad { font-size: 2em; text-align:center; margin-top:15px; }

  .bkg h2{
    font-family:AspiraBlack,Verdana;
    font-size:6em;
    color:#d0a951;
    margin:0px;
    padding:0px;
    display:inline-block;
    line-height: 63%;
    text-align: left;
    letter-spacing: -0.1em;
    width: 100%;
  }
  .contador {
    position: relative;
    /* left: 30%; */
    /*MAX-width: 475px;*/
    z-index: 9;
    text-align: center;

    width: 100%;
    display: block;
    margin: 0 !important;
    transform: none !important;
  }
  .contador .grupo {
    display: inline-block;
    width: 5em;
    /*float: left;*/
    text-align: center;
    color:#fad688;
    font-size:3.7em;
    font-family: AspiraBold,Verdana;
    text-align: center;
    /*margin-right: 0.6em;*/
  }
  .contador .grupo span {
    display: block;
    font-size:3em;
    letter-spacing: -0.1em;
    background: -webkit-linear-gradient(#fcd88a, #6f5416);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .contador .grupo label {
    display: block;
    height: 30px;
    padding-top: 10px;
    margin-top: -30px;
    font-size:1em;
    background: -webkit-linear-gradient(#fcd88a, #6f5416);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .bggr {
    display: block;
    position: relative;
    height: 60px;
    top: -55px;
    background: #2d2d2d;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    z-index: -1;
  }
.separador {
  display: block;
  height: 20px;
  background: #a6212f;
  /*margin-top: 120px;*/
}
.redes {
  display: block;
  position: fixed;
  top: 25%;
  left:0px;
  z-index: 2;
}
.redes span {
  display: block;
  background: rgba(254,217,136,1);
  background: -moz-linear-gradient(top, rgba(254,217,136,1) 0%, rgba(208,170,81,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(254,217,136,1)), color-stop(100%, rgba(208,170,81,1)));
  background: -webkit-linear-gradient(top, rgba(254,217,136,1) 0%, rgba(208,170,81,1) 100%);
  background: -o-linear-gradient(top, rgba(254,217,136,1) 0%, rgba(208,170,81,1) 100%);
  background: -ms-linear-gradient(top, rgba(254,217,136,1) 0%, rgba(208,170,81,1) 100%);
  background: linear-gradient(to bottom, rgba(254,217,136,1) 0%, rgba(208,170,81,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fed988', endColorstr='#d0aa51', GradientType=0 );
  text-align: right;
  width: 36px;
  height: 36px;
    padding-top: 6px;
  padding-right: 8px;
  margin-bottom: 8px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  cursor: pointer;
}

.redes span:hover {
  animation-name: aniBtnRed;
  animation-duration: 0.5s;
    width: 54px;
  background: rgba(208,170,81,1);
  background: -moz-linear-gradient(top, rgba(208,170,81,1) 0%, rgba(254,217,136,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(208,170,81,1)), color-stop(100%, rgba(254,217,136,1)));
  background: -webkit-linear-gradient(top, rgba(208,170,81,1) 0%, rgba(254,217,136,1) 100%);
  background: -o-linear-gradient(top, rgba(208,170,81,1) 0%, rgba(254,217,136,1) 100%);
  background: -ms-linear-gradient(top, rgba(208,170,81,1) 0%, rgba(254,217,136,1) 100%);
  background: linear-gradient(to bottom, rgba(208,170,81,1) 0%, rgba(254,217,136,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d0aa51', endColorstr='#fed988', GradientType=0 );
}
.redes span i {
  font-size: 32px;
  color: #2d2d2d;
}
.redes2 {
  display: block;
  position: fixed;
  top: 25%;
  right:0px;
  z-index: 2;
}
.redes2 span {
  display: block;
  width: 144px;
  height: 36px;
  padding-top: 6px;
  padding-right: 8px;
  margin-bottom: 8px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  cursor: pointer;
  font-size: 32px;
  text-align: left;
  padding-left: 10px;
  background: linear-gradient(-45deg, #d0aa51, #fed988, #fff2d6, #fed988, #d0aa51);
  background-size: 200% 100%;
  -webkit-animation: Gradient 5s ease infinite;
  -moz-animation: Gradient 5s ease infinite;
  animation: Gradient 5s ease infinite;
}

@-webkit-keyframes Gradient {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}

@-moz-keyframes Gradient {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}

@keyframes Gradient {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}

.redes2 span:hover {
  width: 154px;
  padding-left: 10px;
  padding-right: 30px;
  text-align: left;
  background: rgba(208,170,81,1);
  background: -moz-linear-gradient(top, rgba(208,170,81,1) 0%, rgba(254,217,136,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(208,170,81,1)), color-stop(100%, rgba(254,217,136,1)));
  background: -webkit-linear-gradient(top, rgba(208,170,81,1) 0%, rgba(254,217,136,1) 100%);
  background: -o-linear-gradient(top, rgba(208,170,81,1) 0%, rgba(254,217,136,1) 100%);
  background: -ms-linear-gradient(top, rgba(208,170,81,1) 0%, rgba(254,217,136,1) 100%);
  background: linear-gradient(to bottom, rgba(208,170,81,1) 0%, rgba(254,217,136,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d0aa51', endColorstr='#fed988', GradientType=0 );
}
.redes2 span i {
  font-size: 32px;
  color: #2d2d2d;
}
.redes2 span i+i {
  position: relative;  
  top:-8px;
  margin-left: 5px;
  font-family: AspiraLight, Verdana;
  font-size: 16px;
}
@keyframes aniBtnRed {
  from {width: 36px;}
  to {width: 54px;}
}
@keyframes aniBtnRed2 {
  from {width: 134px; padding-right: 0px;}
  to {width: 154px; padding-right: 30px;}
}
.vendido {
      display: block;
      position: absolute;
      right: 0px;
      float: left;
      width: 200px;
      height:90px;
      background: url("../../img/vendido.png") no-repeat;
    margin-top: 10px;
    margin-right: 30px;
  }
.soldout {
    display: block;
    position: absolute;
    right: 0px;
    float: left;
    width: 200px;
    height:90px;
    background: url("../../img/soldout.png") no-repeat;
    margin-top: 10px;
    margin-right: 30px;
}
.section02{
  max-width: none !important;
}
.powerby{
  background-color: #000;
  color: #f1cc7c;
  text-align: center;
  font-family: AspiraLight, Verdana;
  font-size: 1.7em;
  padding: 1em;
}
.powerby a{
  color:#f1cc7c;
  text-decoration: underline;
}
.powerby img{
  height: 1.3em;
  vertical-align: text-bottom;
}
#logosPatrocinios img{
  width: auto !important;
}

.menu li ul {
  position: absolute;
  display: none;
  width: inherit;
  color: #fff;
  background-color: #2d2d2d;
  font-size:4em;
}

.menu li:hover ul {
 display: block;
}

.menu li ul li {
 display: block;
}