  .bkg{
    position: relative;
    vertical-align: top;
    padding-top: 14em;
    text-align: center;
  }
  .bkg .txt01{
    color: #b12128;
    font-family: AspiraBold,verdana;
    font-size: 5.3em;
    display: block;
    max-width: 950px;
    width: 80%;
    margin: auto;
    padding-top: 1.8em;
  }
  .bkg .txt01 img{
    width: 100%;
    max-width: 950px;
  }
  .bkg .txt01 span{
    display: block;
    padding-top:30px
  }
  .section01{
    display: table;
    background-image: url(../img/fdo_sec_home01.jpg);
    background-size: cover;
    background-position:top center;
    padding-bottom: 50px;
    width: 100%;
  }
  .der01{
    font-family: AspiraBlack, Verdana;
    font-size:3.5em;
    color:#FFF;
    margin-top: 30%;
    padding: 0 4%;
  }
  .der02{
    font-family: AspiraMediumIt, Verdana;
    font-size:8em;
    color:#FFF;
    margin-top:20px;
    text-align:center
  }
  .der03{
    font-family: Aspira, Verdana;
    font-size:3em;
    color:#FFF;
    padding: 0 4%;
    margin-top:30px;
    text-align: justify;
  }
  .izq01{
    font-family: Aspira, Verdana;
    font-size: 2.7em;
    color: #FFF;
    padding: 0 0 35px 30px;
    padding-bottom: 18px;
    background-image: url(../img/elip.png);
    background-repeat: no-repeat;
    background-position: 0px 0px;
  }
  .section01 .prim{
    margin-top: 40%;
  }
  .section01 .cent{
    text-align: center;
  }
  .pre{
    display: inline-block;
    margin: auto;
    text-align: left;
    width: 75%;
    padding-left: 25%;
  }
  .section01 a, .botLink{
    display: inline-block;
    background: url(../img/fdo_am_02.jpg) right repeat-y #876b29;
    color: #FFF;
    font-family: AwesomeBrands, Verdana;
    font-size: 2em;
    padding: 12px 25px;
    text-align: center;
    text-decoration: none;
    border-radius: 30px;
  }
  .section01 .max01{
    max-width: 750px;
    margin: auto;
  }
  .section02{
    min-height: 335px;
    background: #FFF;
    max-width: 1440px;
    margin: auto;
  }
  .section02 header,.section04 header{
    background: url(../img/fdo_partner.jpg) left repeat-y #f9d587;
    text-align: center;
  }
  .section02 h1{
    display: inline-block;
    /*color:#2d2d2d;*/
    color:#fff;
    font-size: 5.3em;
    font-family: AspiraBold,Verdana;
    background: url(../img/rayatit_am.jpg) bottom center no-repeat;
    padding-bottom: 15px;
    padding-top: 30px;
  }
  .section02 .gale,.section04 .gale{
    margin-top: 2.5em;
    text-align: center;
    position: relative;
    padding: 0 40px;
  }
  .section02 .fleg01,.section04 .fleg01{
    position: absolute;
    left:20px;
    bottom: 70px;
  }
  .section02 .fleg02,.section04 .fleg02{
    position: absolute;
    right:20px;
    bottom: 70px;
  }
  .section02 a,.section04 a{
    margin: 50px;
    display: inline-block;
    width: 191px;
  }
  .section02 a img,.section04 a img{
    width: 100%;
  }
  .section03{
    background-image: url(../img/fdo_sec_home03.jpg);
    background-position: center top;
    background-size: cover;
    height: 400px;
    display: table;
    width: 100%;
  }
  .section03 .sp{
    width: 40%;
    display: table-cell;
    text-align: center;
    color:#FFF;
    vertical-align: top;
  }
  .section03 header{
    padding-bottom:15px
  }
  .section03 h1{
    font-size: 4em;
    font-family: AspiraBlack,Verdana;
    background-image: url(../img/fdo_otro.jpg);
    background-position: bottom center;
    background-repeat: no-repeat;
    margin:0;
    padding:30px 0 20px 0
  }
  .section03 p{
    font-size: 2.5em;
    font-family: AspiraMediumIt,Verdana;
    margin-top: 10px;
    text-align: left;
    padding-left: 17%;
  }
  .section03 p img{
    width: 1em;
  }
  .section03 a{
    text-decoration:none;
    color:#9d223d;
    font-size:2.3em;
    font-family: AspiraBold,Verdana;
    background:#fefefe;
    padding:12px 44px;
    cursor:pointer;
    border-radius: 30px;
    display: inline-block;
    margin: auto;
    margin-top: 30px;
  }
  .section03 .spons{
    background-image: url(../img/ciculo.png);
    width: 260px;
    height: 260px;
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    margin-top: 50px;
  }
  .section03 .spons div{
    font-family: AspiraHeavyIt,Verdana;
    text-align: center;
  }
  .section03 .spons .dv1{
    font-size:12.3em;
    margin-top: 90px;
    line-height: 73px;
  }
  .section03 .spons .dv2{
    font-size:3em;
  }
  .section03 .txtUlt{
    font-family: AspiraHeavyIt,Verdana;
    text-align: center;
    font-size:4em;
    margin-top: 35px;
  }
  .section04{
    min-height: 335px;
    background: #b12128;
  }
  .section04 h1{
    display: inline-block;
    color:#FFF;
    font-size: 5.3em;
    font-family: AspiraBold,Verdana;
    background: url(../img/rayatit2.jpg) bottom center no-repeat;
    padding-bottom: 20px;
  }
  .section05{
    background-image: url(../img/fdo_sec_home05.jpg);
    background-position: center top;
    background-size: cover;
    height: 100px;
    display: table;
    width: 100%;
  }
  .section05 div{
    display: table-cell;
    width: 33%;
    vertical-align: middle;
    text-align: center;
  }
  .inpBusc01{
    max-width:320px;
    height: 40px;
    width: 100%;
    background: #FFF;
    border-radius: 30px;
    padding:0 5%;
    font-size: 2.2em;
    font-family: Aspira,Verdana;
    color:#383838;
    border:0px
  }
  .inpBusc01:focus{
    outline: none;
  }
  .section05 span{
    color:#FFF;
    font-size: 3.8em;
    font-family: Aspira,Verdana;
  }
  .section05 .submit{
    font-family: AspiraBold,Verdana;
    cursor:pointer
  }
  .section12 h1{
    color:#ad1f26;
  }
  .section12 .gale01{
    min-height: 210px;
    background: url('../img/fdo_ult.png') right repeat-y #b42126;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
  }
  .section12 .gale01 img{
    display: inline-block;
    margin: 3%;
  }
  .section13 header{
    background: url(../img/fdo_partner.jpg) left repeat-y #f9d587;
    text-align: center;
    padding: 20px 0;
  }
  .section13 header h1{
    margin: 0;
    color:#FFF;
    font-size: 5.3em;
    font-family: AspiraBold,Verdana;
  }
  .section13 .cont01{
    padding-top: 44px;
    text-align: center;
    margin: auto;
    width: 65%;
    background: #FFF;
    position: relative;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
  }
  .section13 .dv01{
    color:#ad1f26;
    font-size: 5.3em;
    font-family: AspiraBold,Verdana;
    text-align: center;
    /*margin-top: 85px;*/
  }
  .section13 .dv02{
    color:#595959;
    font-size:3.7em;
    font-family: AspiraBold,Verdana;
    text-align: center;
    margin-top:10px;
    margin-bottom: 10px;
  }
  .section13 .dv03 img{
    display: inline-block;
    margin: 2%;
  }
  .section14{
    position: relative;
  }
  .section14 img{
    width: 100%;
  }
  #medspo a {
    margin-right: 60px;
    display: inline-block;
  }
  #medspo a img {
    width: auto;
    max-height: 120px;
  }
  .bloquemov{
    display: none;
  }