.nivoSlider {
	position:relative;
	background:url(loading.gif) no-repeat 50% 50%;
}
.NivoSzakiSlider {
	padding:0;
	margin:0;
	width:940px;
	height:444px;
	}
.nivoSlider img {
	position:absolute;
	top:0;
	left:0;
	display:none
}
.nivoSlider a.nivo-imageLink {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	border:0;
	padding:0;
	margin:0;
	z-index:6;
	display:none
}
.nivo-slice {
	display:block;
	position:absolute;
	z-index:5;
	height:100%
}
.nivo-box {
	display:block;
	position:absolute;
	z-index:5
}
.nivo-caption {
	position:relative;
	left:0px;
	top:0px;
	text-indent:0px;
	margin:0;
	opacity:1;
	width:650px;
	height:474px;
	z-index:8;
	overflow:hidden;
}
.nivo-caption p {
	padding:275px 0px 0 0px;
	margin:0 0 0 0px;
	opacity:1;
	color:#191919;
	font-size:16px;
	line-height:20px;
	color:#202020;
	text-transform:uppercase;
	font-style:italic;
	width:400px;
}
.nivo-caption p span { position:relative;}
.nivo-caption p em, .nivo-caption p i {letter-spacing:-4px; font-style:normal;font:bold 60px/60px Arial, Helvetica, sans-serif; display:block; color:#202020;}
.nivo-caption p em { color:#f4694e; margin:-10px 0 10px 0;}
.nivo-caption p a.more {
	text-indent:-9999px;
	font-size:12px;
	line-height:48px;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	color:#fff;
	background:url(button-color.png) 0 top no-repeat;
	display:block;
	width:217px;
	height:217px;
	text-align:center;
	text-decoration:none;
	letter-spacing:0;
	position:absolute;
	left:382px;
	top:257px;
	outline:none!important;
}
.nivo-html-caption {
	display:none
}
.nivoSlider a {
	border:0
}
.nivo-directionNav a {
	position:absolute;
	z-index:9;
	cursor:pointer
}

.nivo-controlNav a {
	position:relative;
	z-index:9;
	cursor:pointer
}
.nivo-controlNav a.active {
	font-weight:bold
}

.nivo-directionNav { display:none!important;}
.nivo-directionNav a {
	display:block;
	width:30px;
	height:31px;
	background:url(arrows.png) no-repeat;
	text-indent:-9999px;
	border:0
}
a.nivo-nextNav {
	background-position:-38px -31px;
	left:75px;
	bottom:75px;
}
a.nivo-nextNav:hover {background-position:-38px 0px;}
a.nivo-prevNav {
	left:0px;
	bottom:75px;
	background-position:0px 0;
}
a.nivo-prevNav:hover {background-position:0px -31px;}
.nivoSlider {
	margin:0px auto;

}
.nivoSlider .nivo-controlNav {
	position:absolute;
	left:0;
	bottom:-125px;
	padding:0;
	z-index:999;
}
.nivoSlider .nivo-controlNav a {
	display:block;
	width:220px;
	height:104px;
	background:none;
	text-indent:-9999px;
	border:0;
	margin-left:20px;
	float:left;
	padding-top:12px;
	
}
.nivoSlider .nivo-controlNav a:first-child { margin-left:0;}
.nivoSlider .nivo-controlNav a.active, .nivoSlider .nivo-controlNav a:hover {
	background:url(bullets.png) right 0 no-repeat;
}

.nivoSlider .nivo-controlNav a img { display:block; margin-top:12px;}
.nivoSlider .nivo-controlNav a:hover img , .nivoSlider .nivo-controlNav a.active img{ background:#000; opacity:0.4; -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";}