body{
  min-width: 330px;
}
@media screen and (max-width: 1300px) {
  .section03,.section01{
    display:none !important
  }
  #imgBlocAlt,.bloquemov{
    display: inline !important;
  }

}
@media screen and (max-width: 1200px) {
  section, footer {
    font-size: 3px;
    background-size: 100% 100% !important;
  }
  .section10 .pre2 {
    font-size: 3px;
    background-size: 100% 100% !important;
  }
  .sp {
    font-size: 20px;
    padding-left: 10%;
  }
}

@media screen and (max-width: 960px) {
  body{
    font-size:6px;
  }
  nav a{
    font-size:16px
  }
  section, footer {
    font-size: 3px;
    background-size: 100% 100% !important;
  }
  .section10 .pre2 {
    font-size: 3px;
    background-size: 100% 100% !important;
  }
  .redes {
    top: 5%;
    transform: scale(0.8);
  }
  /*.contador {
      margin-left: 18%;
      transform: scale(0.6);
  }*/
  .cell {
      display: block;
      width: 80%;
  }
  #contactarF {
    margin-left: -15%;
  }
  .detalle {
    display: block;
    width: 60% !important;
    margin-left: -20px;
    margin-top: -30px;
    margin-bottom: 12px;
  }
  .descrip div {
    display: block;
    left: 1px !important;
    top:1px !important;
    width: 50% !important;
    position: relative !important;
        margin-left: -10px;
  }
  .descrip div a {
    width: 145px !important;
  }
  .log_textImp {
      display: block;
      width: 100%;
      top: 1px !important;
      left: 12px !important;
      margin-bottom: 6px;
  }
  .bloque {
    padding-left: 8%;
  }
  .sp {
    font-size: 16px;
    padding-left: 10%;
  }
}
.slicknav_menu {
	display:none;
}
@media screen and (max-width: 785px) {
	/* #menu is the original menu */
  #menuTop #menu{
    display:none;
  }
  .program_ .tabl {
      height: 90px;
  }
  .program_ .descrip{
    padding-bottom: 10px;
  }
  .program_ header img{
    width: 45px;
  }
	#menuTop .slicknav_menu {
		display:block;
	}
  .topH .logo{
    display: block;
    text-align: center;
  }
  .topH .botones{
    display: block;
    text-align: center;
  }
  .topH .logotemp{
    margin: 10px auto;
    display:block
  }

  section, footer {
    font-size: 3px;
    background-size: 100% 100% !important;
  }
    .section10 .pre2 {
    font-size: 3px;
    background-size: 100% 100% !important;
  }
.redes {
    top: 5%;
    transform: scale(0.8);
  }
/*.contador {
      margin-left: 18%;
      transform: scale(0.6);
  }*/
  .cell {
      display: block;
      width: 80%;
  }
  #contactarF {
    margin-left: -15%;
  }
  .detalle {
    display: block;
    width: 60% !important;
    margin-left: -20px;
    margin-top: -30px;
    margin-bottom: 12px;
  }
  .descrip div {
    display: block;
    left: 1px !important;
    top:1px !important;
    width: 50% !important;
    position: relative !important;
        margin-left: -10px;
  }
  .descrip div a {
    width: 145px !important;
  }
  .log_textImp {
      display: block;
      width: 100%;
      top: 1px !important;
      left: 12px !important;
      margin-bottom: 6px;
  }
  .bloque {
    padding-left: 8%;

  }
  .sp {
    font-size: 12px;
    padding-left: 10%;
  }
}
@media screen and (max-width: 650px) {
  .contador .grupo span {
    font-size: 1.5em;
    padding-bottom: 11px;
  }
  body{
    font-size:5px;
  }
  section, footer {
    font-size: 4px;
  }
    .section10 .pre2 {
    font-size: 3px;
    background-size: 100% 100% !important;
  }
.redes {
    top: 5%;
    left: -8px;
    transform: scale(0.8);
  }
/*.contador {
      margin-left: 18%;
      transform: scale(0.6);
  }*/
  .cell {
      display: block;
      width: 80%;
  }

  .detalle {
    display: block;
    width: 60% !important;
    margin-left: -20px;
    margin-top: -30px;
    margin-bottom: 12px;
  }
.descrip div {
    display: block;
    left: 1px !important;
    top:1px !important;
    width: 50% !important;
    position: relative !important;
        margin-left: -10px;
  }
  .descrip div a {
    width: 145px !important;
  }
.log_textImp {
    display: block;
    width: 100%;
    top: 1px !important;
    left: 12px !important;
    margin-bottom: 6px;
}
  .section01 { display: none !important; }
  .bloquemov { display: block !important; width: 100%; }
  .tabs {
    margin-left: -30% !important;
    margin-bottom: -6px !important;
    transform: scale(0.6);
    width: 160% !important;
    display: block;
  }
  .respuesta {
    width: 40%!important;
  }
  #contactarF {
    display: block;
    width: 90%;
    font-size: 5px;
    margin-left: 10%;
  }
  #contactarF span, #contactarF input, #contactarF textarea {
    display: block;
    width: 90%;
    margin:4px;
  }

  #infoContact {
    display: block;
    font-size: 5px;
    margin-left: 10%;
  }

  .sp {
    font-size: 12px;
    padding-left: 10%;
  }
}

@media screen and (max-width: 320px) {
  .sp {
    font-size: 8px !important;
    padding-left: 5% !important;
  }
}