.totales{
  text-align: right;
  padding: 0 5px 0 0 !important;
  font-size: 13px !important;
  font-weight: bold;
}
.data{
  padding: 3px 0 2px 7px !important;
  font-size: 13px;
}
.td01{
  padding:0 !important
}
.td01 table{
  margin:auto
}
.td02{
  border:0 !important;
  padding:0 !important
}
#desde{
  cursor: pointer;
}
#desde,#hasta{
  display: inline !important;
  width: 105px !important;
}
.impHs{
  width: 25px;
  font-size: 12px;
  height: 20px;
  text-align: center;
}
.tituloFecha{
  font-size: 11px !important;
  text-align: center;
  width: 80px !important;
  padding: 3px 0px 0px 0px !important;
}
.tits{
  font-size:12px
}
.subs{
  text-align: right;
  padding-right: 5px !important;
}
.txtEnc{
  font-weight: bold !important;
  font-size: 14px;
}
.txtEnc span{
  display: inline !important;
  font-weight: normal !important;
}