._act{
  background: #FFF;
  color: #000;
  transition: all 0.5s ease;
}
._act:hover{
  background: #d6ebf4;
}
.reves{background:#0084b9;color:#FFF;}
.borBottom{border-bottom:#0084b9}
@media print {
  .reves{background:#FFF !important;color:#000 !important;}
  @page { margin: 0; }
  body { margin: 0cm; }
}
.btn-info{
  background-color:#0084b9 !important;
  border-color: #0084b9 !important;
  transition: all 0.5s ease;
}
.btn-info:hover{
  background-color:#029cda !important;
  border-color: #029cda !important;
}
.ui-dialog .ui-dialog-title, #avisoTxt, .ui-dialog .ui-dialog-buttonpane button{
  font-size:12px
}
.ui-dialog .ui-dialog-buttonpane button{
  margin: .3em .2em .3em 0;
}
.ui-dialog .ui-dialog-titlebar{
  padding: 0.2em .5em;
}
.ui-dialog .ui-dialog-titlebar-close{
  display:none
}
.sidebar-dark-primary .nav-treeview>.nav-item>.nav-link{
  transition: .7s;
}
.sidebar-dark-primary .nav-treeview>.nav-item>.nav-link.active,
.sidebar-dark-primary .nav-treeview>.nav-item>.nav-link.active:hover,
.sidebar-dark-primary .nav-treeview>.nav-item>.nav-link:hover{
  color: #FFF !important;
  background-color: #0084b9 !important;
}
.sidebar-dark-primary .nav-sidebar>.nav-item.menu-open>.nav-link{
  border-bottom: 2px solid #0084b9 !important;
  background:none !important
}
.sidebar-dark-primary .nav-sidebar>.nav-item>.nav-link.active{
  background: none !important;
}
button.btn.btn-info {
  font-size: 12px;
}
.sidebar-dark-primary .nav-treeview>.nav-item>.nav-link {
    margin-left: 20px;
}
.content-header {
    padding: 10px 0 0 1.5rem !important;
}
h1 i {
    color: #0084b9;
    background-color: rgb(233, 249, 255)
}
button.btn.btn-info {
    font-size: 12px;
}

.cke_textarea_inline {
  border: 1px solid #ced4da;
  border-radius: .25rem;
}