.sechotel{
  background: #FFF;
  padding:50px 50px 0px 50px
}
.txtDescript{
  font-family: Aspira,Verdana;
  font-size: 22px;
}
.dvSubt{
  font-family: Aspira,Verdana;
      font-size: 22px;
    line-height: 32px;
    margin-bottom: 40px;
    text-align: justify;
    color: #b94a48;
    padding-top:20px
}
.nom_hotel{
  font-size: 38px;
  font-family: Aspira,Verdana;
  text-align:center;
  color:#333;
  border-bottom:1px solid #b94a48
}
.tipoHab{
  text-align: center;
}
.tipoHab .cat{
  display: inline-block;
  margin:10px 5px;
  padding:10px 5px;
  border-left:1px solid #b94a48;
}
.tipoHab .nom{
  font-family: AspiraBlack,Verdana;
  font-size: 16px;
  color:#777;
  text-align: center;
}
.tipoHab .precio{
  font-family: Aspira,Verdana;
  font-size: 14px;
  color:#333;
}

.tipoHab .inclu{
  font-family: Aspira,Verdana;
  font-size: 11px;
  color:#333;
}
.tipoHab .reservar{
  font-family: Aspira,Verdana;
  font-size: 12px;
  color:#333;
  display: inline-block;
  border:1px solid #b94a48;
  padding:5px;
  border-radius: 5px;
  cursor:pointer
}
#elejir_habiltacion{
  padding:50px;
  font-family: Aspira,Verdana;
  font-size: 12px;
  color:#333;
}
.ui-widget.ui-widget-content{
  z-index: 2 !important;
}
.spacios div{
  padding-bottom:10px
}
.form-contacto{
  font-size:14px;
  font-family: Aspira,Verdana;
  margin: 50px auto;
}
.form-contacto div{
  padding-bottom: 15px;
}
.form-contacto .tit_{
  color:#b94a48;
  font-size:18px
}
.col-3{
  display: inline-block;
}
.ui-widget.ui-widget-content{
  z-index: 100 !important;
}
.col-3 b{
  display: block;
}
.horas{
  width: 45% !important;
  display: inline-block !important;
}