
.product-detail{
    margin: 0 auto;
    padding: 0;
    position: relative;
    height: 500px;
    max-width: 80%;
}
.product-footer{
    top: 100px;
    position: relative;
}

.product-detail .migaja{
    position: relative;
    top: 20px;
    font-size: 18px;
    font-family: Aspira,Verdana;
}
.product-detail .migaja a{
    text-decoration: none;
    color: #2d2727;
    font-family: Aspira,Verdana;
}
.product-detail .migaja .end-migaja{
    font-weight: 400;
}
.product-detail .product{
    position: relative;
    top: 100px;
    font-size: 17px;
    margin: 0 auto;
    max-width: 70%;
}

.product-detail .product .product-img{
    float: left;
    
}
.product-detail .product .product-img img{
    width: 400px;
}
.product-detail .product-content{
    position: relative;
    left: 40px;
}
.product-detail select{
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;

}
.product-content .price{
    margin: 20px;
    font-family: Aspira,Verdana;
}

/****************************/
.group-input{
    margin: 20px 0;
}
.group-input label{
    float: left;
    font-family: Aspira,Verdana;
    width: 115px;
}
.input-form-control{
    background-color: #FFFFFF;
    background-image: none;
    border: 1px solid #e5e6e7;
    border-radius: 1px;
    color:  #2d2727;
    display: block;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 100%;
    box-shadow: none;
    height: 34px;
    font-size: 14px;
    line-height: 1.42857143;
    width: 250px;
}
.product-content .description, .product-content .title, .product-content .title{
    font-family: Aspira,Verdana;
}
#quantity{
    width: 225px;
}
.group-input .add-cart{
    padding: 11px 40px;
    border: 0;
    color: #fff;
    background-color: #d3ae56;
    border-radius: 61px;
    font-size: 18px;
    font-family: Aspira, verdana;
}